<!DOCTYPE html>
1;4601;0c<html>
   <head>
   <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="XN4YmHgE76jTp2kNQ9qnsVSApl6yIQBzdyLe0BnbFks" />

  <title>
    {{ if .IsHome }}
    {{ block "title" . }}{{ .Site.Title }}{{ end }} | {{ .Site.Params.description }}
    {{ end }}
    {{ if not .IsHome }}
    {{ .Title }} - {{ .Site.Title }}
    {{ end }}
  </title>
  <link rel="shortcut icon" href="/favicon.ico" />
  {{ if .Site.Params.securityPolicy }}
     <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    {{ end }}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.min.css">

  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/holder.min.js" type='text/javascript'></script>
  <link rel="stylesheet" href="/highlight/styles/github-gist.css">  
  <link rel="stylesheet" href="/css/style.css">

  <link rel="canonical" href="{{ .Permalink }}">
  {{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}
  <script src="/highlight/highlight.pack.js" type='text/javascript'></script>
  <script src="/js/highlightjs-line-numbers.min.js"></script>
  <script type="text/javascript">

    $(document).ready(function() {
    
    hljs.initHighlightingOnLoad();
    $('pre code').each(function(i, block) {
    hljs.highlightBlock(block);
    hljs.lineNumbersBlock(block);
    });
});
  </script>
   </head>
   <body data-spy="scroll" data-target="#toc">
     {{ partial "nav" . }}
     <div class="jumbotron masthead" role="main">
       <div class="container">
	 <div class="row">

 	   <div class="col-md-8 col-md-offset-2 ">
	   {{ block "main" . }}
      <!-- The part of the page that begins to differ between templates -->
      {{ end }}
	 </div>

	 </div>
       </div>
     </div>
<!-- start footer --->
 <div class="container footer">
  <div class="row">
    <div class="col-md-10">
      <small class="text-muted">{{ .Site.Copyright }} Theme:<a href="https://leonhe.me/">eiio</a></small>
    </div>
    <div class="col-md-2">
      <small class="text-muted">{{ .Site.Params.footerRight}}</small>
      </div>
   </div>
 </div>
{{ template "_internal/google_analytics.html" . }}
</body></html>
