{{ define "main"  }}
<div class="panel panel-default">
  <div class="panel-body">
      <article id='post' >
	<h1> {{ .Title }} </h1>
	  {{ if eq .Section "post" }}
	  <span class="text-muted">Posted by:&nbsp;{{ .Date.Format "Mon Jan 2, 2006" }}</span>
{{ end }}
	  {{ .Content }}

	  {{ if eq .Section "post" }}
	  	  <div class="tags">	
	    <p class="categories">
	  {{ range .Params.categories }}
	  <a class="btn btn-default btn-xs text-capitalize" href="/categories/{{ . | urlize }}">{{ . }}</a>
	  {{ end }}
	    </p>
	    {{ partial "post/tag/list" . }}
	    	  </div>
	    {{ end }}

{{ template "_internal/disqus.html" . }}
      </div>
      </div></article>

{{ end }}
